@model IEnumerable<LibraryMvc.Models.Book>

@{
    ViewData["Title"] = "Books";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CopiesCount)
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    Authors
                </th>
                <th>
                    Genres
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CopiesCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.Name)
                    </td>
                    <td>
                        @(item.Authors != null && item.Authors.Any()
                                            ? string.Join(", ", item.Authors.Select(a => a.FirstName + " " + a.LastName))
                                            : "-")
                                              </td>
                                              <td>
                        @(item.Genres != null && item.Genres.Any()
                                            ? string.Join(", ", item.Genres.Select(g => g.Name))
                                            : "-")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                </td>
            </tr>
                        }
        </tbody>
    </table>
</body>
</html>